@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@font-face{
    font-family: 'funky';
    src: url('fonts/trivia-game-font-collection/blomberg-84442/Blomberg-8MKKZ.otf')
}
* {
margin: 0;
padding: 0;
}
html, body {
    height: 100%;
}
.index-body, .inst-body, .game-body{
    background-size: cover;
    background-image: 
    linear-gradient( rgba(255,255,255, .95),rgba(255,255,255, .95) ),
    url('images/dall.e\ question\ mark.png');
    height: 100%;
}

.index-title h1 {
    font-size: 5em;
    padding: 20px;
}
.index-content, .inst-content, .game-question-wrapper,.game-answer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.index-content, .inst-content{
    height: 100%;
}
.index-title {
    padding: 50px;
    transform: translateY(-100px);
    font-family: 'funky', sans-serif;
}

.btn {
    padding: 15px 40px;
    border-radius: 10px;
    border: 2px black solid;
    background-color: white;
    transition: all .2s ease;
    box-shadow: black 0px 7px 0px 0px;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
}
.btn:hover {
    box-shadow: black 0px 4px 0px 0px;
    cursor: pointer;
    transform: scale(.95);
}
.inst-title {
    font-family: 'funky', sans-serif;
    font-size: 40px;
    padding: 20px;
}
.inst-main{
    font-family: 'Josefin Sans', 'sans-setif';
    font-size: 20px;
}
.inst-main h2 {
    padding: 20px;
    font-family: 'funky', sans-serif;
    font-size: 28px;
}
.inst-main ul {
    list-style-type: none;
}
.inst-btn {
    margin: 20px;
}
.game-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .9fr .3fr;
    grid-template-areas: 
    "title"
    "game-question-wrapper"
    "next";
}

.game-title {
    grid-area: title;
    font-family: 'funky', sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 40px;
    margin: 20px 5px auto 5px;

}
.game-question-wrapper {
    grid-area: game-question-wrapper;
}
.game-answer{
    flex-flow: column;
    padding: 5px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 10px;
    transition: all .2s ease;
}
.game-answer:hover{
    transform: scale(.95);
    box-shadow:  black 0px 4px 0px 0px;
    cursor: pointer;
}
#answer1 {
    grid-area: answer1;
}
#answer2 {
    grid-area: answer2;
}
#answer3 {
    grid-area: answer3;
}
#answer4 {
    grid-area: answer4;
}
.next {
    grid-area: next;
}
.question {
    grid-area: question;
    display: none;
    font-family: 'josefin sans', sans-serif;
    font-size: 25px;
}
.outcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'funky', sans-serif;
    font-size: 30px;
}
.img {
    grid-area: img;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    border: 2px black solid;
    display: block;
    object-fit: cover;
    margin: auto auto 15px auto;
}
.text {
    grid-area: text;
    text-align: center;
}
.active {
    display: grid;
    grid-gap: 2px;
    margin: 5px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .2fr .5fr .5fr;
    grid-template-areas: 
    "img img "
    'text text'
    "answer1 answer2"
    "answer3 answer4";
}
.next {
    text-align: center;
    display: none;
    transform: translateY(30px);

}
.score {
    position: absolute;
    top: 30px;
    right: 50px;
}
@media(max-width: 620px) {
    .inst-title, .game-title {
        font-size: 20px;
    }
    .inst-main {
        padding: 10px;
        font-size: 17px;
    }
}