* {
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'funky';
    src: url('fonts/trivia-game-font-collection/blomberg-84442/Blomberg-8MKKZ.otf')
}
body {
    background-image: url('images/Sheen_The_God.webp');
    background-size: cover;
}
h1 {
    font-size: 5em;
    padding: 15px;
}
.index-content {
    background-color: white;
    opacity: .5;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.title {
    padding: 80px;
    transform: translateY(-100px);
    font-family: 'funky';
}
.instructions {
    padding: 50px;
}
